body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f0f0f0, #d0d0d0);
}

.header {
    background-color: #5a6978;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout {
    background-color: #8e9aa5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.title {
    font-size: 24px;
    margin: 0;
}

.container {
    padding: 20px;
    text-align: center;
}

.novo-projeto-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5a6978;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tabela-projetos {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.tabela-projetos th, .tabela-projetos td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.tabela-projetos th {
    background-color: #f4f4f4;
}

.tabela-projetos td .delete-btn, .tabela-projetos td .edit-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.tabela-projetos td .delete-btn {
    color: #ff4d4d;
}

.tabela-projetos td .edit-btn {
    color: #007bff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
}

.hidden {
    display: none;
}

input[type="text"], textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

textarea {
    height: 100px;
}

#salvar-projeto-btn, .cancelar-btn, #salvar-edicao-btn {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#salvar-projeto-btn, #salvar-edicao-btn {
    background-color: #5a6978;
    color: white;
    border: none;
}

.cancelar-btn {
    background-color: #cccccc;
    color: #333;
    border: none;
    margin-left: 10px;
}