body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f0f0f0, #d0d0d0);
}

.header {
    background-color: #5a6978;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout {
    background-color: #8e9aa5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.title {
    font-size: 24px;
    margin: 0;
}

.container {
    padding: 20px;
    text-align: center;
}

.novo-projeto-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5a6978;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.notas-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.nota {
    width: 80%;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    word-wrap: break-word;
}

.nota h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #5a6978;
}

.nota .delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #ff4d4d;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
}

.hidden {
    display: none;
}

input[type="text"], textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

textarea {
    height: 150px;
}

#salvar-nota-btn, .cancelar-btn {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#salvar-nota-btn {
    background-color: #5a6978;
    color: white;
    border: none;
}

.cancelar-btn {
    background-color: #cccccc;
    color: #333;
    border: none;
    margin-left: 10px;
}
